*{
    margin: 10px;
    text-align: center;
    color: black;
    
    
    
}
.cos{
    border: 2px solid black;
    height: 200px;
    width: 175px;
    background-color: beige;
    text-align: center;
    float:left;
    
    
    

}
img{
    height: 65%;
    width: auto;
}
#dziel{
    width: 20px;

}